@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    height: 100%;
    max-width: 1200px;
    margin:auto;
    margin-top: 63px;
    font-family: roboto;
    font-style: normal;
}

main{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

h1 {
    font-size: 80px;
}

h1 a {
    text-decoration: none;
    color: black;
}

.second-color {
    color: #34b8ec;
}

.ramda {
    background: #222F3A;
}

.flex-container{
    margin-top: 20px;
    display: flex;
    max-width: 100%;
}

.left {
   margin-left: 60px;
}

.right {
    margin-right: 50px;
}

.li-link {
    display: block;
    padding: 20px 40px;
}

.menu {
    display: inline-flex;
    align-items: center;
    background: #35444F;
    font-size: 20px;
    border: 1px solid #FFFFFF;
    color: white;
}

.menu:hover{
    background-color: #222F3A;
}

.left-menu-border {
     border: solid 1px black;
     width: 350px;
     height: 399px;
     font-size: 27px;
     margin-right: 40px;
 }

 .left-menu-item {
     transition: 0.3s;
 }

 .left-menu-item span {
    display: block;
    padding: 26px 27px 27px 40px;
 }

.left-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 60px;
}

.image-block{
    position: relative;
    width: 100%;
    height: 550px;
    border: solid 1px grey;
    margin-bottom: 35px;
}

 .image {
     position: absolute;
     top:75px;
     left: 290px;
     margin-bottom: 30px;
 }
 .text-wrapper {
     height: 300px;
 }

 .text {
     width: 885px;
     padding-bottom: 30px;
     font-size: 18px;
     line-height: 24px;
 }

 .bottom-flex-container {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    max-width: 100%;
 }

 .bottom-li {
    display: block;
    padding: 20px 40px;
 }

 .bottom-menu {
    display: inline-flex;
    align-items: center;
    background: #63696E7A;
    font-size: 20px;
    color: black;
 }

 .bottom-flex-container:hover {
     background-color: #4447499c;
 }

 .bottom-border {
    color: rgb(33, 167, 201);
    padding-bottom: 7px;
    border-bottom: 2px solid rgb(33, 167, 201);

 }